/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

#app {
  margin: 2rem;
  font-family: Roboto;
}*/

body {
  background-color: #444;
}

.box {
  margin: .5rem;
  _margin-top: 3rem;
  float: left;
  border-style: solid;
  border-width: 1px;
  padding: .5rem;
}


.box_0 {
  float: initial;
  width: 10rem;
  margin: auto;
}
